.hg
.git
.hgignore
nbproject
index_demo_site.html
*.log
utils
/config_files/**
/data/test-results/**/
!/data/test-results/.gitkeep
!/data/test-results/DEMO_**/
!/config_files/colors.csv
!/config_files/colors_demo.csv
!/config_files/whitenoise.png